.Registro {
    text-align: center;
    padding: 20px;
  }
  
  .Registro h1 {
    margin-bottom: 1rem;
  
  }
  
  .Registro .Registro-header {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 0px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }
  
  .Registro h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .Registro .ant-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Registro .ant-form-item-label {
    text-align: left;
    /*color: #666;*/
  }
  
  .Registro .ant-form-item-control {
    text-align: left;
  }
  
  .Registro .ant-btn {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #111827;
    border: none;
    border-radius: 5px;
    color: #fffffff7;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Registro .ant-btn:hover {
    background-color: #118fcebf;
  }
  
  .hobbies-container {
    border: 2px solid #343739;
    border-radius: 5px;
    padding: 20px 5px;
    padding-bottom: px;
  }
  
  .subir-foto {
    align-items: center;
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .mensaje-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .mensaje-flotante .ant-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .ventana-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #00cc00;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }